@using com.yrtech.Survey.ShopSite.DTO
@{
    AccountDto loginUser = (AccountDto)Session["LoginUser"];
}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <!-- Bootstrap -->
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/minimal/_all.css" rel="stylesheet" />
    <link href="~/Content/minimal/blue.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />*@

   
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/bootstrap-select")
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
   
    
    @*<script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap-paginator.js"></script>
    <script src="~/Scripts/icheck.js"></script>
    <script src="~/Content/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/Content/bootstrap-select/js/i18n/defaults-zh_CN.min.js"></script>
    <script src="~/Scripts/comm.js"></script>
    <script src="~/Scripts/page.js"></script>*@
</head>
<body>
    <div id="header" class="top inline-block-father">
        <div class="container">
            <div class="logo inline-block"><img src="~/Content/images/logo.png" onclick="backhome()" style="cursor:pointer" /></div>
            <div class="login inline-block pull-right">
                <span>欢迎，@loginUser.AccountName</span>
                <a href="/Account/Logoff" class="inline-block">退出</a>
                <a href="/Account/ChangePassword" class="inline-block">修改密码</a>
            </div>
            <div class="menu inline-block pull-right" style="min-width:100px;"><a href="#" onclick="backhome()"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> 首页</a></div>
        </div>
    </div>

    @RenderBody()

    <div class="bottom text-center">
        @*© 2019-20XX 北京有限公司*@
    </div>
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bootstrap-select")
    @Scripts.Render("~/bundles/custom")
   
    <script>
        function initPages(curPage, pageCount, search) {
            $('#pageUl').empty();
            if (pageCount == 0) return;
            var options = {
                bootstrapMajorVersion: 3, //版本
                currentPage: curPage, //当前页数
                totalPages: pageCount, //总页数
                itemTexts: function (type, page, current) {
                    switch (type) {
                        case "first":
                            return "首页";
                        case "prev":
                            return "上一页";
                        case "next":
                            return "下一页";
                        case "last":
                            return "末页";
                        case "page":
                            return page;
                    }
                },
                //点击事件，用于通过Ajax来刷新整个list列表
                onPageClicked: function (event, originalEvent, type, page) {
                    if (search) {
                        search(page);
                    } else {
                        alert("onPageClicked事件没有设置查询方法");
                    }
                }
            }
            $('#pageUl').bootstrapPaginator(options);
        }

        $(function () {
            $('.modal').modal({ backdrop: 'static', show: false });
            
            var title = window.document.title;
            $(".menu .list-group a.list-group-item").each(function () {
                if ($(this).html() == title) {
                    $(this).addClass("active");
                } else {
                    $(this).removeClass("active");
                }
            })

            $(document).ajaxComplete(function (event, result, options) {
                try {
                    if (result.responseText.charAt(0) != '{')
                        return;
                    var result = $.parseJSON(result.responseText);
                    if (result.Status == 401) {
                        alert(result.Message, function () {
                            window.location.href = "/Account/Login?ReturnUrl=" + result.ReturnUrl;
                        });
                    }
                } catch (ex) {

                }
            });

            $(document).ajaxError(function (event, response, options) {
                if (response) {
                    var data = JSON.parse(response.responseText);
                    $("#btnLogin").button('reset');
                    $(".btn-check").button('reset');
                    alert(data.ErrMsg);
                }
            })

            //checkbox 样式
            $('input[type=checkbox],input[type=radio]').iCheckParser();
            
        });
        //加载登录用户
        var loginUser;
        try {
            if (window.localStorage.userJson) {
                loginUser = JSON.parse(window.localStorage.userJson);
            } else {
                alert("没有登录用户，跳转到登录界面！");
                window.location.href = "/Account/Login";
            }
        }catch(e){console.err(e)}
        

        $.fn.iCheckParser = function () {
            if (this) {
                $(this).iCheck({
                    checkboxClass: 'icheckbox_minimal-blue',
                    radioClass: 'iradio_minimal-blue',
                    increaseArea: '20%' // optional
                })
            }
        }

        function backhome() {
            window.location.href = "/Home/Index";
        }

        $.fn.serializeObject = function () {
            var obj = {};
            var arr = $(this).serializeArray();
            for (i in arr) {
                obj[arr[i].name] = arr[i].value;
            }
            return obj;
        }

        //$(document).on("show.bs.modal", ".modal", function () {
        //    // draggable 属性规定元素是否可拖动
        //    $(this).draggable({
        //        handle: ".modal-header", // 只能点击头部拖动
        //        cursor: 'move' //光标呈现为指示链接的指针（一只手）,
        //    });
        //    $(this).css("overflow", "hidden"); // 防止出现滚动条，出现的话，你会把滚动条一起拖着走的
        //});

    </script>

    @RenderSection("scripts", required: false)
</body>
</html>